.notional {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  grid-gap: 10px;
  color: #ffffff7c;
}

.notional input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff7c;
  color: #ffffff7c;
  outline: none;
  -moz-appearance: textfield;
}
