.tile {
  height: auto;
  width: 300px;
  background-color: #2f3542;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-areas:
    "head head"
    "trend trend"
    "buy sell"
    "notional notional";
}

.tile h3 {
  grid-area: head;
  grid-column: 1/3;
  color: #ffffff7c;
  text-align: left;
  margin: 0;
}

.tile .trend {
  grid-area: trend;
  margin: 20px auto;
}

.tile .buy {
  grid-area: buy;
}

.tile .sell {
  grid-area: sell;
}

.tile .notional {
  grid-area: notional;
}

.tile .price button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
}

.tile .price {
  color: #ffffff7c;
  text-transform: uppercase;
}

.tile .price:hover {
  color: #ffffff7c;
  cursor: pointer;
}

.tile .price.buy:hover {
  background-color: #ff274b;
}

.tile .price.sell:hover {
  background-color: #2d95ff;
}

.tile .price.active,
.tile.price.active button {
  font-weight: bold;
  color: yellow;
}
